.drawer {
	height: 100%;
	z-index: 1101;
	bottom: 0;
	position: fixed;
	background: white;

	min-width: 280px; // TODO - responsive

	overflow-y: auto;

	&.permanent {
		position: inherit;
		z-index: 0;
	}

	&.left {
		order: 0;
	}

	&.right {
		order: 2;
	}
}

.drawerOpen {
	overflow: hidden;
}
