@import 'modern-normalize/modern-normalize.css';
@import './lib/styles/style.scss';
@import 'styles/variables.scss';

html,
body,
#root {
	height: 100%;
}

body {
	display: flex;
	line-height: var(--fontLineHeight);
}

#root {
	// background: var(--bodyBg);
	display: flex;
	flex-direction: column;
	width: 100%;
	order: 1;
	flex: 1;
}

.main {
	display: flex;
	height: 100%;
	overflow-y: auto;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: scroll;
}

.list-level-1 {
	.list-item-level-1 {
		padding-left: 40px;
	}
}

.hidden {
	display: none;
}

.fade-enter,
.fade-leave {
	transition: all 1000ms ease;
}

.fade-enter-start,
.fade-leave-end {
	opacity: 0;
}

.fade-enter-end,
.fade-leave-start {
	opacity: 1;
}

.move-enter,
.move-leave {
	transition: all 500ms ease;
}

.move-enter-start,
.move-leave-end {
	transform: translateX(-1000px);
}

.move-enter-end,
.move-leave-start {
	transform: translateX(0);
}
