$enable-shadows: true;
$theme-colors: (
	"primary": #3f51b5,
	"accent": #ff4081,
	"light": #ffffff,
);
$box-shadow-sm: false;
$box-shadow: false;
$box-shadow-lg: false;
$input-btn-focus-box-shadow: false;
$btn-focus-box-shadow: false;
$btn-active-box-shadow: false;
$btn-box-shadow: false;

@import "~bootstrap/scss/bootstrap";

@import "~prismjs/themes/prism.css";
@import "./lib/styles/style.scss";

html,
body,
#root {
	height: 100%;
}

body {
	background: #f5f6fa;
}

#root {
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	height: 100%;
	overflow-y: auto;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: scroll;
}
