$enable-shadows: true;
@import "./lib/styles/colors.scss";
$grid-gutter-width: 20px;
@import "~bootstrap/scss/bootstrap";
@import "./lib/styles/style.scss";

html,
body,
#app {
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	height: 100%;
	overflow-y: auto;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-y {
	overflow-y: scroll;
}
